@font-face{
    font-family: "fairfax";
    src:url("fonts/FairfaxItalic.ttf");
}
@font-face {
    font-family: "genty";
    src: url("fonts/GentyDemo-Regular.ttf");
}
@font-face {
    font-family:"helvetica";
    src: url("fonts/HelveticaRoman.ttf");
}
@font-face {
    font-family: "alagard";
    src: url("fonts/alagard.ttf");
}
@font-face {
    font-family: "belloscript";
    src: url("fonts/Bello-Script.ttf");
}
@font-face {
    font-family: "lemonmilk";
    src: url("fonts/LEMONMILK-Bold.otf");
}
.genty {
    font-family: "genty";
}
.fairfax{
    font-family:"fairfax"
}
.helvetica{
    font-family:"helvetica"
}
.alagard{
    font-family:"alagard"
}
.belloscript{
    font-family:"belloscript"
}
.hero {
  text-align: center;
  position: relative;
  padding:0;
}
.hero::before {
  content:"";
  position: absolute;
  inset:0;
  background-image: url(images/header\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 0;
}
.hero h1 {
    position:relative;
    z-index:1;
    font-size:128px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -5px;
    background: linear-gradient(#EDFAE1, #B5EE79, #77E900);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.hero p {
    font-size: 40px;
    font-family: "fairfax";
    margin-top: -5px;
}
.title span {
    display: inline-block; 
    margin-right: -20px;
    vertical-align:middle;
}
body{
    margin:0;
    padding:0;
    background-color: #F7FFF0;
}
.about {
    display: flex;
    align-items: center;
    gap: 50px;
    padding:80px 100px;
}
.about img {
    width: 551px;
    height: 368px;
    border-radius: 12px;
    object-fit: cover;
}
.intro-text {
    max-width: 600px;
}
.intro-title {
    font-size: 32px;
    margin-bottom: 0px;
    letter-spacing: -2px;
}
.intro-body{
    font-family: "alagard";
    font-size: 32px;
    line-height: 1.6;
    background: #63C200;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-body span {
  display: inline-block;
  margin-right: -8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    margin:60px 0px 80px;
}

.btn{
    width: 348px;
    height: 103px;
    
    display: flex;
    align-items:center;
    justify-content: center;

    background-color:rgba(0, 0, 0, 0.05);
   
    text-decoration: none;
    font-size: 30px;
   
    border-radius: 20px;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
    background-color: #B5EE79;
    transform: translateY(-4px)
}

.btn-qs {
    color: #407E00;
}

.btn-proy {
    color: #498F00;
}

.btn-sug {
    color: #2D5701;
}

.footer {
    margin-top: 100px;
    padding: 40px 80px;
    background-color:#F7FFF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-title {
    font-family:"lemonmilk";
    font-size: 24px;
    margin: 0;
    color: #2D5701;
}

.footer-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 6px 0 0;
    color: #000000;
    opacity:0.55;
}
.footer-socials {
    display: flex;
    align-items: center;
    gap: 12px;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#000000;
    opacity: 0.55;
}

.footer-socials img {
    width: 32px;
    height: auto;
    object-fit: contain;
}